body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.container {
    width: 450px;
    margin: 50px auto;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(250, 0, 0);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 6px 0 15px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background: #e8f5e9;
    color: #2e7d32;
    text-align: center;
    border-radius: 5px;
}
